body {
  //font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  line-height: 24px;
}

a {
  color: inherit;
  &:hover {
    color: #003d65;
  }
}

body {
  &:before {
    visibility: hidden;
    content: '';
    display: block;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    background: #fff url(../images/loading.svg) no-repeat center center;
  }
}

html.before-load {
  overflow: hidden;
  body {
    &:before {
      visibility: visible;
    }
  }
}

.img-full {
  width: 100%;
  height: auto;
}

@import 'custom';
@import 'header';

@import 'footer';

section {
  padding: 70px 0 90px;
  &.bg {
    background: #d82c2d2b;
  }

  &.fullbox-search {
    padding: 30px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    @media(min-width: 768px) {
      ._btn {
        padding-top: 29px;
      }
    }
  }
  @media(max-width: 767px){
    &.fullbox-search{
      padding: 15px 0;
    }
  }

  .section-header {
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #d82c2d;
    font-family: 'Oswald', sans-serif;
  }
  .section-header-desc {
    text-align: center;
    color: #666;
    max-width: 86%;
    margin: 15px auto 0;
  }
  @media(max-width: 991px) {
    .section-header {
      font-size: 40px;
    }
    .section-header-desc {
      max-width: 100%;
      text-align: justify;
    }
  }
  @media(max-width: 767px) {
    .section-header {
      font-size: 35px;
    }
  }
  .section-body {
    padding-top: 50px;
  }
  .product-list {
    margin-top: -40px;
    ._item {
      margin-top: 40px;
      .inner {
        background: #fff;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
        a:not(.btn) {
          color: #d82c2d;
          &:hover {
            color: #000;
          }
        }
        .img {
          display: block;
          overflow: hidden;
          -webkit-border-radius: 3px 3px 0 0;
          -moz-border-radius: 3px 3px 0 0;
          border-radius: 3px 3px 0 0;
          position: relative;
          img {
            transition: .2s ease-in-out;
            z-index: 1;
          }
          .sale{
            position: absolute;
            z-index: 2;
            left: 0;
            top: 20px;
            color: #fff;
            &:after{
              display: block;
              background: #d82c2d;
              position: relative;
              z-index: 1;
              width: 60px;
              height: 36px;
              content: '';
            }
            &:before{
              content: '';
              display: block;
              height: 36px;
              border-width: 18px 15px;
              border-style: solid;
              border-color: transparent;
              border-left-color: #d82c2d;
              position: absolute;
              left: 100%;
            }
            span{
              line-height: 36px;
              position: absolute;
              font-weight: bold;
              z-index: 2;
              display: block;
              width: 60px;
              text-align: center;
              padding: 0 10px;
            }
          }

        }
        .info {
          padding: 20px;
          .title {
            display: block;
            font-size: 19px;
            margin-bottom: 10px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            font-weight: 600;
          }
          .price {
            line-height: 30px;
            color: #666;
            margin-bottom: 0;
            &:after{
              content: '';
              display: block;
              clear: both;
            }
            .l{
              float: left;
            }
            .r{
              float: right;
            }
          }
          ._btn {
            margin-top: 20px;
          }
        }
      }
      &:hover {
        .inner {
          .img {
            img {
              transform: scale(1.2) rotate(-5deg);
            }
          }
        }
      }
    }
    .pagination {
      padding-top: 30px;
    }
    &.theme-list {
      ._item {
        .inner {
          position: relative;
          background: rgb(222, 247, 255);
          a {
            color: #fff;
            &:hover {
              color: #ffff00;
            }
          }
          .info {
            position: relative;
            padding: 10px 15px;

            p {
              color: #555;
            }
            .title {
              font-size: 20px;
              margin-bottom: 0;
              font-weight: 400;
              position: absolute;
              top: -80px;
              left: 0;
              display: block;
              background: rgba(0, 45, 84, .6);
              padding: 10px 15px;
            }
          }
        }

        &:hover {
          .inner {
            .img {
              img {
                //transform: none;
              }
            }
            .info {
              .title {
                text-shadow: 0 0 3px #000;
                background: rgba(0, 45, 84, .8);
              }
            }
          }
        }
      }
      @media(max-width: 1199px) {

        ._item {
          .inner {
            .info {
              .title {
                font-size: 20px;
              }
            }
          }
        }
      }
      @media(max-width: 991px) {
        ._item {
          width: 50%;
          float: left;
          .inner {
            .info {
              padding: 30px;
              .title {
                font-size: 28px;
              }
            }
          }
        }
      }
      @media(max-width: 767px) {
        ._item {
          width: 50%;
          float: left;
          .inner {
            .info {
              padding: 20px;
              .title {
                font-size: 20px;
              }
            }
          }
        }
      }
      @media(max-width: 579px) {
        ._item {
          width: 100%;
          float: none;
          .inner {
            .info {
              padding: 20px;
              .title {
                font-size: 30px;
              }
            }
          }
        }
      }
      @media(max-width: 369px) {
        ._item {
          .inner {
            .info {
              .title {
                font-size: 20px;
              }
            }
          }
        }
      }
    }

    &.tour-list {
      ._item {
        .inner {
          .info {
            padding: 15px;
            .title {
              white-space: normal;
              line-height: 26px;
              font-weight: normal;
              font-size: 20px;
              height: 52px;
              overflow: hidden;
            }
            p {
              line-height: 26px;
            }
            .params {
              margin-top: 10px;
              .duration {
                float: left;
              }
              .price {
                float: right;
                color: #f00;
              }
              &:after {
                content: '';
                display: block;
                clear: both;
              }
            }
          }
        }
      }
    }
  }

  &.get-promo {
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-align: center;
    .btn {
      padding: 17px 30px;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 0;
    }
  }
  .news-view {
    .overview {
      line-height: 28px;
      text-align: justify;
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
  .testimonial-list {
    ._item {
      background: rgba(255, 255, 255, .3);
      padding: 15px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      margin-bottom: 15px;
      box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
      ul {
        li {
          display: inline-block;
          font-size: 13px;
          color: #777;
          &:after {
            content: '-';
            margin: 0 4px 0 7px;
            color: #999;
          }
          &:last-child {
            &:after {
              display: none;
            }
          }
          &.name {
            font-weight: bold;
            font-size: 16px;
            color: #333;
          }
        }
      }
      p {
        margin: 0;
        //background: #def7ff99;
        padding: 10px 15px;
        font-size: 15px;
        line-height: 24px;
        border: 1px solid #def;
      }
    }
  }

  @media(max-width: 991px) {
    &.get-promo {
      font-size: 40px;
      ._clearfix {
        display: block;
        clear: both;
      }
    }
  }
  @media(max-width: 767px) {
    .product-list {
      ._item {
        margin-top: 15px;
      }
    }
  }
}

@media(max-width: 767px) {
  section {
    padding: 30px 0;
  }
}

//@media(max-width: 800px) {
//  section {
//    margin-bottom: 30px;
//  }
//}

.bg-primary {
  background: #d82c2d;
}

._breadcrumb {
  background: #1b7492;
  padding: 7px 0;
  .breadcrumb {
    background: none;
    margin-bottom: 0;
    color: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    a {
      &:hover {
        color: #ffff00;
      }
    }
  }
}